<div class="admin-page-container">


  <div class="header-welcome" *ngIf="isLoggedIn">
    <span class="welcome-text">Welcome, {{ nomeUtente }}</span>
    <button (click)="logout()">Logout</button>
  </div>


  <div class="background-slideshow">
    <img src="/assets/immagine1.jpeg" alt="slide 1" class="active">
    <img src="/assets/immagine3.png" alt="slide 2">
  </div>


  <div class="background-fade-overlay"></div>


  <div class="admin-dashboard">
    <h1>Area Amministratore</h1>
    <p>Scegli una sezione da gestire:</p>

    <div class="admin-buttons">
      <button (click)="goToTrainAdmin()">🚄 Gestione Viaggi</button>
      <button (click)="goToBookingAdmin()">🧾 Gestione Prenotazioni</button>
    </div>
  </div>
</div>
